<h1 style='color: #3062ab; font-size: 34px; font-weight: bold;'> Previsão da taxa de mortalidade infantil em um país

</h1>

# <font color="#ab3c30" style="font-size: 30px;">Objetivo</font>
<hr style="border: 2px solid #ab3c30;">

 <p style='font-size: 23px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i><b> Prever a taxa de mortalidade infantil de um país específico com base em diferentes varíaveis socioeconômicas, históricas, etc. </b></i>     
</p>

---

# <font color="#ab3c30" style="font-size: 30px;">Roteiro</font>
<hr style="border: 2px solid #ab3c30;">

<h1 style='color: black; font-size:22px; font-weight: bold;'> 1. Pré-processamento de dados
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'>2. Análise exploratória de dados

</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
3. Modelagem de dados
</h1>

---

<h1 style='color: black; font-size: 22px; font-weight: bold;'> 
4. Comunicação de Resultados
</h1>

# <font color="#ab3c30" style='font-size: 30px;'>1. Pré-processamento de dados    </font>

<hr style="border: 2px solid #ab3c30;">

In [5]:
# IMPORTANDO BIBLIOTECAS

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('world-data-2023.csv')

df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [23]:
# RENOMEANDO COLUNAS

traducao = {
    'Country': 'País',
    'Density\n(P/Km2)': 'Densidade (Pessoas por quilômetro quadrado)',
    'Abbreviation': 'Abreviação',
    'Agricultural Land( %)': 'Área de Terras Agrícolas (%)',
    'Land Area(Km2)': 'Área Terrestre (quilômetros quadrados)',
    'Armed Forces size': 'Tamanho das Forças Armadas',
    'Birth Rate': 'Taxa de Natalidade',
    'Calling Code': 'Código de Chamada Telefônica',
    'Capital/Major City': 'Capital/Cidade Principal',
    'Co2-Emissions': 'Emissões de CO2',
    'CPI': 'Índice de Percepção de Corrupção',
    'CPI Change (%)': 'Mudança no Índice de Percepção de Corrupção (%)',
    'Currency-Code': 'Código de Moeda',
    'Fertility Rate': 'Taxa de Fertilidade',
    'Forested Area (%)': 'Área Florestal (%)',
    'Gasoline Price': 'Preço da Gasolina',
    'GDP': 'Produto Interno Bruto (PIB)',
    'Gross primary education enrollment (%)': 'Matrícula Bruta na Educação Primária (%)',
    'Gross tertiary education enrollment (%)': 'Matrícula Bruta na Educação Terciária (%)',
    'Infant mortality': 'Mortalidade Infantil',
    'Largest city': 'Maior Cidade',
    'Life expectancy': 'Expectativa de Vida',
    'Maternal mortality ratio': 'Razão de Mortalidade Materna',
    'Minimum wage': 'Salário Mínimo',
    'Official language': 'Língua Oficial',
    'Out of pocket health expenditure': 'Gastos com Saúde Paga pelo Paciente',
    'Physicians per thousand': 'Médicos por mil habitantes',
    'Population': 'População',
    'Population: Labor force participation (%)': 'Participação da Força de Trabalho na População (%)',
    'Tax revenue (%)': 'Receita de Impostos (%)',
    'Total tax rate': 'Taxa Total de Impostos',
    'Unemployment rate': 'Taxa de Desemprego',
    'Urban_population': 'População Urbana',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude'
}

df = df.rename(columns=traducao)
df.head(2)

,País,Densidade (Pessoas por quilômetro quadrado),Abreviação,Área de Terras Agrícolas (%),Área Terrestre (quilômetros quadrados),Tamanho das Forças Armadas,Taxa de Natalidade,Código de Chamada Telefônica,Capital/Cidade Principal,Emissões de CO2,...,Gastos com Saúde Paga pelo Paciente,Médicos por mil habitantes,População,Participação da Força de Trabalho na População (%),Receita de Impostos (%),Taxa Total de Impostos,Taxa de Desemprego,População Urbana,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331

---
## <font color=#62ab30 style="font-size: 30px;">1.1 Remover colunas que não são relevantes para o problema de previsão de taxa de mortalidade infantil.</font>

---

In [34]:
colunas_string = df.select_dtypes(include='object').columns.tolist()

display(colunas_string)

['País',
 'Densidade (Pessoas por quilômetro quadrado)',
 'Abreviação',
 'Área de Terras Agrícolas (%)',
 'Área Terrestre (quilômetros quadrados)',
 'Tamanho das Forças Armadas',
 'Capital/Cidade Principal',
 'Emissões de CO2',
 'Índice de Percepção de Corrupção',
 'Mudança no Índice de Percepção de Corrupção (%)',
 'Código de Moeda',
 'Área Florestal (%)',
 'Preço da Gasolina',
 'Produto Interno Bruto (PIB)',
 'Matrícula Bruta na Educação Primária (%)',
 'Matrícula Bruta na Educação Terciária (%)',
 'Maior Cidade',
 'Salário Mínimo',
 'Língua Oficial',
 'Gastos com Saúde Paga pelo Paciente',
 'População',
 'Participação da Força de Trabalho na População (%)',
 'Receita de Impostos (%)',
 'Taxa Total de Impostos',
 'Taxa de Desemprego',
 'População Urbana']

In [37]:
df[['País',
 'Densidade (Pessoas por quilômetro quadrado)',
 'Abreviação',
 'Área de Terras Agrícolas (%)',
 'Área Terrestre (quilômetros quadrados)',
 'Tamanho das Forças Armadas',
 'Capital/Cidade Principal',
 'Emissões de CO2',
 'Índice de Percepção de Corrupção',
 'Mudança no Índice de Percepção de Corrupção (%)',
 'Código de Moeda',
 'Área Florestal (%)',
 'Preço da Gasolina',
 'Produto Interno Bruto (PIB)',
 'Matrícula Bruta na Educação Primária (%)',
 'Matrícula Bruta na Educação Terciária (%)',
 'Maior Cidade',
 'Salário Mínimo',
 'Língua Oficial',
 'Gastos com Saúde Paga pelo Paciente',
 'População',
 'Participação da Força de Trabalho na População (%)',
 'Receita de Impostos (%)',
 'Taxa Total de Impostos',
 'Taxa de Desemprego',
 'População Urbana']]

,País,Densidade (Pessoas por quilômetro quadrado),Abreviação,Área de Terras Agrícolas (%),Área Terrestre (quilômetros quadrados),Tamanho das Forças Armadas,Capital/Cidade Principal,Emissões de CO2,Índice de Percepção de Corrupção,Mudança no Índice de Percepção de Corrupção (%),...,Maior Cidade,Salário Mínimo,Língua Oficial,Gastos com Saúde Paga pelo Paciente,População,Participação da Força de Trabalho na População (%),Receita de Impostos (%),Taxa Total de Impostos,Taxa de Desemprego,População Urbana
0,Afghanistan,60,AF,58.10%,"652,230","323,000",Kabul,"8,672",149.9,2.30%,...,Kabul,$0.43,Pashto,78.40%,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273"
1,Albania,105,AL,43.10%,"28,748","9,000",Tirana,"4,536",119.05,1.40%,...,Tirana,$1.12,Albanian,56.90%,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",Algiers,"150,006",151.36,2.00%,...,Algiers,$0.95,Arabic,28.10%,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100"
3,Andorra,164,AD,40.00%,468,NaN,Andorra la Vella,469,NaN,NaN,...,Andorra la Vella,$6.63,Catalan,36.40%,"77,142",NaN,NaN,NaN,NaN,"67,873"
4,Angola,26,AO,47.50%,"1,246,700","117,000",Luanda,"34,693",261.73,17.10%,...,Luanda,$0.71,Portuguese,33.40%,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",Caracas,"164,175","2,740.27",254.90%,...,Caracas,$0.01,Spanish,45.80%,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368"
191,Vietnam,314,VN,39.30%,"331,210","522,000",Hanoi,"192,668",163.52,2.80%,...,Ho Chi Minh City,$0.73,Vietnamese,43.50%,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140"
192,Yemen,56,YE,44.60%,"527,968","40,000",Sanaa,"10,609",157.58,8.10%,...,Sanaa,NaN,Arabic,81.00%,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523"
193,Zambia,25,ZM,32.10%,"752,618","16,000",Lusaka,"5,141",212.31,9.20%,...,Lusaka,$0.24,English,27.50%,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",Harare,"10,983",105.51,0.90%,...,Harare,NaN,Shona,25.80%,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305"